<div class="midbar-lemon">
    <div class="container login-form">
        <h1 class='login-title'>Login!</h1>
        <form action="/auth/login" method="POST" class="login-form">
        
            <div class="form-floating mb-3 col-md-11">
                <input type="email" class="form-control" id="floating1" name="email" placeholder="00000">
                <label for="floating1">Email</label>
            </div>
            
            <div class="form-floating mb-3 col-md-11">
                <input type="password" class="form-control" id="floating2" name="password" placeholder="00000">
                <label for="floating2">Password</label>
            </div>

            <input class="login-submit" type="submit">
        </form>
    </div>
</div>