<form action="/auth/signup" method="POST">
    <label for="new-name">Name</label>
    <input type="text" name="name" placeholder="name" id="new-name">

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" id="password">

    <input type="submit">
</form>