

<div class="midbar-lemon">
  <div class="container login-form signup-form">
      <h1 class='login-title'>Sign Up!</h1>

      <form action="/auth/signup" method="POST" class="login-form signup-form">
        <div>
          <row class="row g-3">
            <div class="form-floating mb-3 col-md-6">
              <input type="name" class="form-control" id="floatingInput" name="name" placeholder="00000">
              <label for="floatingInput">Name</label>
            </div>
            
            <div class="form-floating mb-3 col-md-6">
              <input type="email" class="form-control" id="floatingInput" name="email" placeholder="00000">
              <label for="floatingInput">Email</label>
            </div>
          </row>

          <div class="form-floating mb-3 col-md-12">
            <input type="password" class="form-control" id="floatingInput" name="password" placeholder="00000">
            <label for="floatingInput">Password</label>
          </div>
        
          <div class="form-floating mb-3 col-md-12">
            <input type="text" class="form-control" id="floatingInput" name="address" placeholder="00000">
            <label for="floatingInput">Address</label>
          </div>
        
          <row class="row g-3">
            <div class="form-floating mb-3 col-md-8">
              <input type="text" class="form-control" id="floatingInput" name="city" placeholder="00000">
              <label for="floatingInput">City</label>
            </div>

            <div class="form-floating mb-3 col-md-4">
              <input type="text" class="form-control" id="floatingInput" name="zipcode" placeholder="00000">
              <label for="floatingInput">Zip</label>
            </div>
          </row>

          <row class="row g-3">
            <div class="form-floating mb-3 col-md-12">
              <input type="text" class="form-control" id="floatingInput" name="aviurl" placeholder="00000">
              <label for="floatingInput">Avatar URL</label>
            </div>
          </row>

          <row>
            <input class="login-submit col-md-12" type="submit">
          </row>
        </div>
      </div>
    </form>
  </div>
</div>