<nav class="navbar navbar-expand-lg">
    <div style="border: none; display: flex; justify-content: space-between;" class="container-fluid">
        <a class="navbar-brand" href="/">
            <span class="nav-title">
                Potlucky!
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                  
        <div class="collapse navbar-collapse" id="navbarNav">
                
            <ul class="nav nav-fill justify-content-center">
                <li class="nav-item hover-nav">
                    <a class="nav-link"href="/request/search/request">In My Area</a>
                </li>

                <li class="nav-item hover-nav">
                    <a class="nav-link" href="/searchby">Search By</a>
                </li>
                      
                <% if (currentUser) { %>
                       
                    <li class="nav-item hover-nav">
                        <a class="nav-link" href="/profile/<%= currentUser.id %>">Profile</a>
                    </li>
                        
                    <li class="nav-item hover-nav">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>

                    <div class="nav-bar avi">
                        <a  href="/profile/<%= currentUser.id %>"><img width="100px" src="<%= currentUser.aviurl %>"></a>
                    </div>
                      
                <% } else { %>
                        
                    <li class="nav-item hover-nav">
                        <a class="nav-link" href="/auth/signup">Sign Up</a>
                    </li>
                        
                    <li class="nav-item hover-nav">
                        <a class="nav-link" href="/auth/login">Login</a>
                    </li>

                <% } %>
            </ul>
        </div>
    </div>
</nav>