<form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">I would like...</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="col-md-4">
    <label for="input-location" class="form-label">Location</label>
    <select id="input-location" name="locationId" class="form-select">
      <% locations.forEach(location => { %>
        <option value="<%= location.id %>" selected><%= location.address %></option>
      <% }) %>
    </select>
  </div>
</form>