<a href="/request/new" class="btn btn-primary">Make New Request</a>
<% console.log(currentUser) %>

<% requests.forEach(request => { %>
    <div class="well">
        <h4><%= request.title %> by <%= request.user.name %></h4>
        <%= request.content %> at <%= request.location.address %>
    </div>
<% }) %>