<a href="/request/new" class="btn btn-primary">Make New Request</a>
<% console.log(currentUser) %>

<% requests.forEach(request => { %>
    <div class="well">
        <h4><%= request.title %></h4>
        <%= request.content %>
        <%= request.location %>
    </div>
<% }) %>