<div class="home">
    <div class="parent-title-div">
        <div class="title-div">
            <div class="title-background-div-404">
        
            </div>
    
            <div>
                <img class="home-title" src="/Images/404.png" alt="404 - page not found">
            </div>
        </div>
    </div>
</div>