<div class="home">
    <div class="parent-title-div">
        <div class="title-div">
            <div class="title-background-div-404">
        
            </div>
    
            <div>
                <img src="https://github.com/ElyssaW/potlucky/blob/main/Public/Images/404.png?raw=true" class="home-title" alt="Page not found">
            </div>
        </div>
    </div>
</div>