<div class="home">
    <div class="parent-title-div">
        <div class="title-div">
            <div class="title-background-div-404">
        
            </div>
    
            <div>
                <div class="home-title">PAGE NOT FOUND</div>
            </div>
        </div>
    </div>
</div>