<div class="parent-title-div">
    <div class="title-div">
        <div class="title-background-div">
    
        </div>

        <div>
            <h1 class="home-title" style="color: black;">PotLucky!</h1>
        </div>
    </div>
</div>