<div>
    <div class="midbar-rolls">
        <div class="container title-div">
            <h1 class="display-1 home-title">Potlucky!</h1>
            <h1 class="subhead">Get lucky. Potlucky!</h1>
        </div>
    </div>
    
    <form action="/auth/signup" class="home-form">
        <input type="submit" class="signup-btn" value="Sign Me Up!">
    </form>

    <div class="container">
        <div class="title-card-div">
            <div class="title-card">
                <h1>Give Food</h1>
                <p>Got that baking-bug? Cook up food to give to
                    people in your community.
                </p>
            </div>

            <div class="title-card">
                <h1>Get Food</h1>
                <p>Or maybe the munchies? Search offers in your
                    area to see who's serving up the goods
                </p>
            </div>

            <div class="title-card">
                <h1>Get lucky!</h1>
                <p>Give good, get food, and connect with friends
                    and people in your community!
                </p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <h2>Potlucky!</h2>
        <ul class="footer-list">
            <li>Designed and coded by Elyssa Winch</li>
            <li>Made for Project 2 at General Assembly</li>
            <li>Geocoding API provided by Mapbox</li>
            <li>Graphics provided by Freepik</li>
        </ul>
    </footer>
</div>