<style>

    .home-sign-up {
        font-size: 40px;
        padding: 20px 80px;
        margin-top: 30px;
        border: white double 10px;
        background-color: #f9E07F;
        background-image: linear-gradient(to bottom right, #f9E07F, #F9AD6A);
        transition: .5s;
        box-shadow: -2px 5px 20px 2px rgba(164,136,132,.3);
    }

    .home-sign-up:hover {
        background-color: #f9E07F;
        background-image: none;
        font-size: 44px;
    }


</style>

<div class="home">
    <div class="parent-title-div">
        <div class="title-div">
            <div class="title-background-div">
        
            </div>
    
            <div>
                <img src="https://github.com/ElyssaW/potlucky/blob/main/Public/Images/title.png?raw=true" class="home-title" alt="Potlucky">

                <form action="/auth/signup">
                    <input class="home-sign-up" type="submit" value="Sign Up!">
                </form>
            </div>
        </div>
    </div>
</div>
