<h4><%= currentUser.name %>'s profile</h4>

<h4>Location: <% locations.forEach((location, i) => { %>
    <%= location.address %>, <%= location.zipcode %>
    <% if (i !== locations.length - 1) { %>, <% } %>
<% }) %></h4>