$test-color: #f9E07F;
$corner-radius: 25px;
$title-font: 'Luckiest Guy', cursive;

body {
    background-color: $test-color;
}

a {
    color: black;
    text-decoration: none;
}

.map-container {
    z-index: 9;
    padding: 30px;
}

.map-full{
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.map-sidebar{
    float: right;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.listings {
    background-color: white;
    height: 100%;
}

.list-sidebar {
    height: 80vh;
    width: 500px;
    padding: 0;
}

.request-card {
    a {
        color: black;
    }
    margin: 10px;
    background-color: #F9AD6A;
    padding: 15px;
    width: 90%;
    height: 100px;
    transition: 1s;
}

.request-card:hover {
    height: 110px;
    background-color: $test-color;
}

@mixin midbar {
    background-repeat: repeat;
    width: 100%;
    height: 92vh;
}

.midbar-lemon {
    @include midbar();
    background-size: 500px;
    background-image: url('/Images/lemons.jpg');
    display: flex;
    align-content: center;
    padding: 20px;
}

.login-form {
    padding: 20px;
    border: black solid 10px;

    .login-title {
        font-family: $title-font;
    }

    .login-label {
        font-weight: bold;
    }

    .field-login {
        width: 90%;
        padding: 10px;
        margin: 5px 0;
        border: none;
    }

    .login-submit {
        font-weight: bold;
        margin: 0;
        width: 90%;
        background-color: white;
        padding: 15px;
        border: none;
        border-bottom-right-radius: $corner-radius;
        transition: 1s;
    }

    .login-submit:hover {
        background-color: yellow;
        border-radius: 0px;
    }

    background-color: $test-color;
    width: 25vw;
    height: 500px;
}

.signup-form{
    width: 35vw;
}

.nav-logo{
    width: 70px
}

.nav-title{
    font-family: $title-font;
    font-size: 30px;
    padding: 18px;
}

.midbar-rolls {
    @include midbar();
    background-size: 100%;
    background-image: url('/Images/rolls.jpg');

    display: flex;
    align-items: center;
}

.title-div{

    .home-title {
        font-family: $title-font;
        font-size: 150px;
        color: white;
        margin: 0;
        padding: 0;
    }
    
    .subhead {
        position: relative;
        top: -30px;
        margin: 0;
        padding: 0;
        color: #F9AD6A;
    }
}

.title-card-div{
    display: flex;
    justify-content: space-between;

    .title-card {
        width: 30%;
        background-color: #D46C4E;
        border-radius: $corner-radius;
        padding: 30px;
        transition: 1s;
    }

    .title-card:hover {
        border-radius: 0;
    }

    margin-bottom: 50px;
}

.home-form {
    display: flex;
    justify-content: center;
    padding: 50px;

    .signup-btn {
        padding: 20px;
        background-color: #264d59;
        width: 50%;
        border: none;
        font-size: 30px;
        border-radius: $corner-radius;
        color: white;
        transition: 1s;
    }

    .signup-btn:hover {
        background-color: white;
        border: none;
        color: black;
        border-radius: 0;
    }
}

.footer {
    background-color: #264d59;
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 10%;
    color: white;

    .footer-list {
        list-style-type: none;
        padding: 0;
    }
}