body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.btn-primary {
  background-color: #f9E07F;
  border: none;
  color: black;
}

.navbar {
  background-color: none;
  border: none;
}

.navbar .nav-title {
  padding: 5px 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar .nav-title:hover {
  color: #f9E07F;
  background-color: black;
}

.navbar .hover-nav {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar .hover-nav:hover {
  background-color: #f9E07F;
  color: #F9AD6A;
}

.navbar .avi {
  position: absolute;
  top: 2vh;
  border-radius: 25px;
  right: 5vw;
  width: 50px;
}

.home .home-title {
  color: black;
  font-size: 150px;
  font-family: "Bungee Inline", cursive;
}

.home .parent-title-div {
  z-index: 10;
}

.home .parent-title-div:hover .title-background-div {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.home .parent-title-div:hover .title-background-div-404 {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.home .title-background-div {
  position: absolute;
  background-image: url("/Images/orange-juice.jpg");
  background-position: 1000% 50%;
  background-repeat: no-repeat;
  background-size: 1500px;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -webkit-transition: 1s;
  transition: 1s;
}

.home .title-background-div-404 {
  position: absolute;
  background-image: url("/Images/cake.jpg");
  background-position: center;
  background-size: 1500px;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -webkit-transition: 1s;
  transition: 1s;
}

.home .title-subhead:hover {
  padding-left: 150px;
}

.home .title-background-div:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.home .title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  color: black;
  padding-top: 20vh;
  padding-left: 3vw;
}

.midbar {
  background-color: #f9E07F;
}

.map-container {
  z-index: 9;
  padding: 30px;
}

.map-full {
  z-index: -1;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.map-sidebar {
  float: right;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.listings {
  background-color: white;
  height: 100%;
}

.list-sidebar {
  height: 80vh;
  width: 500px;
  padding: 0;
}

.request-card {
  margin: 10px;
  background-color: #F9AD6A;
  padding: 15px;
  width: 90%;
  height: 100px;
  -webkit-transition: 1s;
  transition: 1s;
}

.request-card a {
  color: black;
}

.request-card:hover {
  height: 110px;
  background-color: #f9E07F;
}

.midbar-lemon {
  background-repeat: repeat;
  width: 100%;
  height: 92vh;
  background-size: 500px;
  background-image: url("/Images/lemons.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
}

.login-form {
  padding: 20px;
  border: black solid 10px;
  background-color: #f9E07F;
  width: 25vw;
  height: 500px;
}

.login-form .login-title {
  font-family: "Bungee Inline", cursive;
}

.login-form .login-label {
  font-weight: bold;
}

.login-form .field-login {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border: none;
}

.login-form .login-submit {
  font-weight: bold;
  margin: 0;
  width: 90%;
  background-color: white;
  padding: 15px;
  border: none;
  border-bottom-right-radius: 25px;
  -webkit-transition: 1s;
  transition: 1s;
}

.login-form .login-submit:hover {
  background-color: yellow;
  border-radius: 0px;
}

.signup-form {
  width: 35vw;
}

.nav-title {
  font-family: "Bungee Inline", cursive;
  font-size: 30px;
  padding: 18px;
}

.title-div .home-title {
  font-family: "Bungee Inline", cursive;
  font-size: 150px;
  color: white;
  margin: 0;
  padding: 0;
}

.title-div .subhead {
  position: relative;
  top: -30px;
  margin: 0;
  padding: 0;
  color: #F9AD6A;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.popup-title {
  padding: 2px;
  border-radius: 5px;
  background-color: #f9E07F;
}

.profile-row {
  width: 80vw;
  height: 100vh;
}

.left-col {
  background-image: url("/Images/lemons.jpg");
  background-size: 500px;
  background-repeat: repeat;
  border-right: white solid 50px;
}

.profile-pic {
  position: absolute;
  top: 25vh;
  left: 140px;
  width: 250px;
  border-radius: 30px;
}

.card {
  padding: 20px;
  height: 70vh;
  width: 50vw;
  position: relative;
  top: 10vh;
  border: none;
  left: 10vw;
}

.profile-display {
  display: inline;
}

.card-bank-search {
  border-radius: 15px;
  padding: 10px;
  background-color: #f9E07F;
}

.map-show {
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.map-pic {
  z-index: 5;
  position: absolute;
  padding: 0;
  top: 15vh;
  left: 15vw;
  width: 20vw;
  height: 65vh;
  border-radius: 30px;
  border: white solid 10px;
}

.map-show #map {
  margin: 0;
  height: 90vh;
  width: 100%;
  z-index: -1;
  position: absolute;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.map-show .col-one {
  position: absolute;
  height: 90vh;
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.map-show .card-bank {
  overflow-y: auto;
  height: 75vh;
  padding: 0 15px;
}

.map-show .well {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-show .card-text {
  background-color: #F9AD6A;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 10px;
  width: 100%;
  padding: 7px;
  -webkit-transition: 1s;
  transition: 1s;
}

.map-show .card-text:hover {
  background-color: white;
  border-radius: 0;
}

.map-show .title {
  height: 8%;
  text-align: center;
  z-index: 10;
}

.map-show .see-other {
  margin: 0 auto;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */